/* Geral */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow-y: scroll;
}

.homepage__layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.homepage__content {
    flex: 1;
}

/* Hero Section */
.homepage__hero {
    background-color: #f9f9f9;
    padding: 40px 20px;
    display: flex;
    align-items: center;
}

.homepage__hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.homepage__hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}

.homepage__hero-image {
    height: 20rem;
    margin: 0 auto;
}

.homepage__button {
    background-color: #5ab334;
    border-color: #5ab334;
}

/* Features Section */
.homepage__features {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

.homepage__feature-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.homepage__feature-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 300px;
    text-align: center;
}

.homepage__feature-card:hover {
    transform: scale(1.05);
}

/* Benefits Section */
.homepage__benefits {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.homepage__benefits h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.homepage__benefits ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.homepage__benefits li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

/* Footer */
.homepage__footer {
    background-color: #5ab334;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9rem;
}
